@import './variables.scss';
@import './mixins.scss';

//General
body {
    font-family: 'Quicksand', sans-serif;
    font-size: $html-font-size;
}

.bordered {
    border: 1px dashed grey;
    height: 100px;
}

img {
    max-width: 100%;
}

.form-control {
    border-radius: 2px;
    width: 100%;
    font-size: 14px;
}

.header-padding {
    padding: 100px 0px 0px 0px;
}

.section-padding {
    padding: 40px 0px;
}

.section-margin-bottom {
    margin-bottom: 50px;
}

//Margins
.section-margin {
    margin-bottom: 70px;
}

 
//Img
.image-header {
    width: 500px;
}

//Text
//Header
.title-header {
    font-family: 'Quicksand', sans-serif;
    font-size: 52px;;
    color: $main-color-dark;
    margin: 12px 0px;
    line-height: 56px;
}

.title-header-right {
    font-family: 'Quicksand', sans-serif;
    font-size: 52px;;
    color: $main-color;
    margin: 12px 0px;
    line-height: 56px;
    text-align: right;
}

.subtitle-header {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    line-height: 22px;
    margin-bottom: 20px;
}

.subtitle-header-rigth {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: right;
}

.main-subtitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;;
    color: $main-color-dark;
    margin: 12px 0px;
    line-height: 56px; 
    text-align: center;
}

.main-text-centered {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;;
    margin: 12px 0px;
    line-height: 20px; 
    text-align: center;
    //padding: 10px 200px 50px 200px;
}

.small-text-centered {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;;
    margin: 12px 0px;
    line-height: 20px; 
    text-align: center;
    padding: 0px 40px 50px 40px;
}

.small-title-centered {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;;
    margin: 12px 0px;
    line-height: 20px; 
    text-align: center;
    padding: 10px 40px 0px 40px;
}

.centered-div {
    text-align: center;
}

.main-icon {
    font-size: 64px;
    color: $main-color;
}

//Cards

.card-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.card-text {
    color: #FFFFFF;
}

.card-text-dark {
    color: #000000;
}


.card-title {
    color: #FFFFFF;
}

.card-title-dark {
    color: $main-color;
    margin-bottom: 40px;
}

.card-body-opacity {
    background-color: rgba(0,0,0, 0.4);
}

.shadow-main {
    box-shadow: 3px 2px 8px -1px rgba(0,0,0,0.41);
-webkit-box-shadow: 3px 2px 8px -1px rgba(0,0,0,0.41);
-moz-box-shadow: 3px 2px 8px -1px rgba(0,0,0,0.41);
}

//Cards

.col-form-label {
    font-size: 13px;
}

//Footer

 .social-media-icons {
    width: 18px;
 }